.cardList {
  --cols: 1;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 2rem;

  list-style: none;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: 0.4s;
}

.heading {
  font-weight: 500;
  color: #000;
  flex-grow: 1;
}

.paragraph {
  color: #000;
}

.imgContainer {
  display: block;
  height: 80%;
  width: 100%;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.imageNotFound {
  height: 100%;
  width: 100%;
}

.buttonContainer {
  display: flex;
  gap: 0.5rem;
  height: 10%;
  padding-bottom: 0.5rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0rem;
  background-color: rgb(59 7 100);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;
}

@media screen and (min-width: 33em) {
  .cardList {
    --cols: 2;
  }
}

@media screen and (min-width: 55em) {
  .cardList {
    --cols: 3;
  }
}
